# Semana EDA (Exploratory Data Analysis)

## Análise Exploratória de Dados

## Problema

- Uma escola necessita trabalhar com filmes em seu planejamento pedagógico.
- Precisa visualizar as notas de diversos filmes em suas diversas categorias.
- Os filmes devem atravessar gerações. A escola trabalha desde a creche até o nível superior.

## Ambientação

- Usaremos a linguagem Python (mult,tip.din,ident,bibli,poo)

In [4]:
# Um aló mundo para não perder o costume
"""
Crie um "hello EDA"
"""

mensagem = "Hello semana EDA"
print(f'{mensagem}!')
msg_input = input("Digite a palavra da semana")
print(msg_input)

Hello semana EDA!
cafe

## Cometências

- Importar pandas
- Ler os dados csv
- Organigar pastas VS CODE
- Renomear colunas
- Contar os dados
- Melhorar a Visualização das informações
- Criar gráficos pandas (plot), Matplotlib, Seaborn

## Ferramentas e Recursos

- Jupyter (Visual Code, Anaconda, Jupyter, Google Colab, Azure e AWS)
- Kaggle(Risco de Crédito): IA ML Superv. Regressão
- TrendView
- MovieLens (opção de 100 mil)
- Python - lambda (Paradigma Funcinal)
- Bibliotecas (NumPy, Pandas, MatploitLib e Seaborn)
- Gráficos (barras, pizza, dispersão, historiograma, boxplot, etc.)
- YouTube (População, Amostra, Frequência, Mediana, Quantis)
- Estatistica Descritiva (frequência e medias)

## Tipos de Variáveis

### - Python

![Texto alternativo](https://miro.medium.com/v2/resize:fit:1200/1*2oBaD14rFkYcRPSp8f9cFQ.png)

### - Pandas

![](https://images.datacamp.com/image/upload/v1677145492/data_types_pandas_ff18f9de75.png?updated_at=2023-02-23T09:44:54.278Z)

### - MySql

![](https://image.slidesharecdn.com/bd02-bancodedados-191126202537/75/Bd02-banco-de-dados-49-2048.jpg)

### - Estatistica Descritiva

![](https://analisemacro.com.br/wp-content/uploads/2023/05/tipos_variaveis.png)

## Importação do pandas

In [1]:
! pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.0-cp312-cp312-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\luiz\semana_eda\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\luiz\semana_eda\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Downloading numpy-2.1.0-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ----- ---------------------------------- 1.6/12.6 MB 10.5 MB/s eta 0:00:02
   ------------- -------------------------- 4.2/12.6 MB 11.0 MB/s eta 0:00:01
   -------------------- ------------------- 6.3/12.6 MB 11.0 MB/s eta 0:00:01
   -------------------------- ------------- 8.4/12.6 MB 10.6 MB/s eta 0:00:01
   --------------------------------- ------ 10.5/12.6 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 10.5 MB/s eta 0:00:00
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.0 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [2]:
import pandas as pd

### Importação do DataSet

In [3]:
df = pd.read_csv('datasets/ratings.csv')

In [5]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
df.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [7]:
df['movieId']

0              1
1              3
2              6
3             47
4             50
           ...
100831    166534
100832    168248
100833    168250
100834    168252
100835    170875
Name: movieId, Length: 100836, dtype: int64

In [8]:
df['rating']

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: rating, Length: 100836, dtype: float64

Variável Quantitativa continua (estatistico)
Variável real (float ou double ou numeric)